USE [master]
GO
/****** Object:  Database [DataPribadiDB]    Script Date: 08/06/2026 00.53.17 ******/
CREATE DATABASE [DataPribadiDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataPribadiDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DataPribadiDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataPribadiDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DataPribadiDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataPribadiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataPribadiDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 08/06/2026 00.53.18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Karyawans]    Script Date: 08/06/2026 00.53.18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Karyawans](
	[NIK] [bigint] NOT NULL,
	[NamaLengkap] [nvarchar](max) NOT NULL,
	[JenisKelamin] [nvarchar](max) NOT NULL,
	[TanggalLahir] [datetime2](7) NULL,
	[Alamat] [nvarchar](max) NOT NULL,
	[Negara] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Karyawans] PRIMARY KEY CLUSTERED 
(
	[NIK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260607155141_FreshStart', N'10.0.8')
GO
INSERT [dbo].[Karyawans] ([NIK], [NamaLengkap], [JenisKelamin], [TanggalLahir], [Alamat], [Negara]) VALUES (35710217880003, N'Ahmed Yunus Ismail', N'Laki-laki', CAST(N'2000-10-24T00:00:00.0000000' AS DateTime2), N'Jl. Kenanga Raya No. 27', N'Indonesia')
INSERT [dbo].[Karyawans] ([NIK], [NamaLengkap], [JenisKelamin], [TanggalLahir], [Alamat], [Negara]) VALUES (35760212880005, N'Andi Pratama', N'Laki-laki', CAST(N'1996-02-02T00:00:00.0000000' AS DateTime2), N'Jl. Anggrek No. 12', N'Indonesia')
INSERT [dbo].[Karyawans] ([NIK], [NamaLengkap], [JenisKelamin], [TanggalLahir], [Alamat], [Negara]) VALUES (3174011003850003, N'Alexander Isacc', N'Laki-laki', CAST(N'1999-10-29T00:00:00.0000000' AS DateTime2), N'Jl. Ujimaru No. 21, Tokyo', N'Jepang')
GO
USE [master]
GO
